<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OhMyFood!</title>
    <link rel="stylesheet" href="../style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shrikhand:400,500,600,700,900' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/54c1824395.js" crossorigin="anonymous"></script>
</head>
<body class="flex__col font__text">
	<!-- Header -->
	<header>
		<!-- Flèche "précédent" -->
		<a class="previous" href="../index.html">
			<i class="fas fa-arrow-left fa-lg"></i>
		</a>
		<!-- Logo -->
		<div class="flex container__center">
        	<div class="logo">
				<img src="../img/ohmyfood@2x.svg" alt="ohmyfood">
			</div>
		</div>
	</header>
	<!-- Image du restaurant -->
	<div>
        <img class="photo__big width__100 object_fit__cover"
        src="../img/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
        alt="À la française">
	</div>
	<!-- Restaurant -->
	<section class="tiles__big">
        <div class="flex__row space__between">
            <h1 class="font__title padding__left no_wrap overflow__hidden">
                À la française
            </h1>
            <div class="heart__title change_icon pointer">
                <i class="far fa-heart fa-2x"></i>
                <i class="fas fa-heart fa-2x"></i>
            </div>
        </div>
        <!-- Menu du restaurant : Entrées -->
        <div class="font__text">
            <h3>Entrées</h3>
            <div class="separator"></div>
            <ul class="fade_in">
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Tartare de poulpe acidulé</h2>
                            <p class="no_wrap">Aux zestes d'orange</p>
                        </div>
                        <div class="price">
                            <h2>25€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Velouté de légumes d'antan</h2>
                            <p class="no_wrap">Carotte, panais, topinambour</p>
                        </div>
                        <div class="price">
                            <h2>35€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Soupe à l'oignon</h2>
                            <p class="no_wrap">Revisitée</p>
                        </div>
                        <div class="price">
                            <h2>20€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Menu du restaurant : Plats -->
        <div class="font__text">
            <h3>Plats</h3>
            <div class="separator"></div>
            <ul class="fade_in">
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Coquilles Saint-Jacques</h2>
                            <p class="no_wrap">Accompagnées d'une purée de panais</p>
                        </div>
                        <div class="price">
                            <h2>40€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Magret de canard</h2>
                            <p class="no_wrap">Et parmentier de pommes de terre</p>
                        </div>
                        <div class="price">
                            <h2>35€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Pigeonneau d’Ille-et-Vilaine</h2>
                            <p class="no_wrap">Sur son lit de gnocchis aux légumes</p>
                        </div>
                        <div class="price">
                            <h2>44€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Menu du restaurant : Desserts -->
        <div class="font__text">
            <h3>Desserts</h3>
            <div class="separator"></div>
            <ul class="fade_in">
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Pétales de violettes glacés</h2>
                            <p class="no_wrap">Et purée de noisettes</p>
                        </div>
                        <div class="price">
                            <h2>18€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Fondant au chocolat</h2>
                            <p class="no_wrap">Revisité</p>
                        </div>
                        <div class="price">
                            <h2>22€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Millefeuille croustillant</h2>
                            <p class="no_wrap">Myrtilles et pâte d’amande</p>
                        </div>
                        <div class="price">
                            <h2>23€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flex container__center">
            <button class="button__order font_weight__900">
                Commander
            </button>
        </div>
	</section>
	<!-- Menu de pied de page -->
	<footer id="footer">
        <div class="flex container txt__left font__text">
            <ul>
                <li>
                    <h2>ohmyfood</h2>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Proposer un restaurant"
                    target="_self">
                    <span><i class="fas fa-utensils ico"></i>Proposer un restaurant</span>
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Devenir partenaire"
                    target="_self">
                    <span><i class="fas fa-hands-helping ico"></i>Devenir partenaire</span>
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Mentions légales"
                    target="_self">
                    Mentions légales
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Contact"
                    target="_self">
                    Contact
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>