<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OhMyFood!</title>
    <link rel="stylesheet" href="../style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shrikhand:400,500,600,700,900' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/54c1824395.js" crossorigin="anonymous"></script>
</head>
<body class="flex__col font__text">
	<!-- Header -->
	<header>
		<!-- Flèche "précédent" -->
		<a class="previous" href="../index.html">
			<i class="fas fa-arrow-left fa-lg"></i>
		</a>
		<!-- Logo -->
		<div class="flex container__center">
        	<div class="logo">
				<img src="../img/ohmyfood@2x.svg" alt="ohmyfood">
			</div>
		</div>
	</header>
	<!-- Image du restaurant -->
	<div>
        <img class="photo__big width__100 object_fit__cover"
        src="../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg"
        alt="La palette du goût">
	</div>
	<!-- Restaurant -->
	<section class="tiles__big">
        <div class="flex__row space__between">
            <h1 class="font__title padding__left no_wrap overflow__hidden">
                La palette du goût
            </h1>
            <div class="heart__title change_icon pointer">
                <i class="far fa-heart fa-2x"></i>
                <i class="fas fa-heart fa-2x"></i>
            </div>
        </div>
        <!-- Menu du restaurant : Entrées -->
        <div class="font__text">
            <h3>Entrées</h3>
            <div class="separator"></div>
            <ul class="fade_in">
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Fricassée d'escargot</h2>
                            <p class="no_wrap">Au piment d'Espelette</p>
                        </div>
                        <div class="price">
                            <h2>25€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Foie gras de canard mi-cuit</h2>
                            <p class="no_wrap">Et ses copeaux de truffe noire</p>
                        </div>
                        <div class="price">
                            <h2>35€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Oeuf au plat</h2>
                            <p class="no_wrap">Assaisonné à la truffe sur lit de caviar</p>
                        </div>
                        <div class="price">
                            <h2>20€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Menu du restaurant : Plats -->
        <div class="font__text">
            <h3>Plats</h3>
            <div class="separator"></div>
            <ul class="fade_in">
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Filet de boeuf aux herbes</h2>
                            <p class="no_wrap">Accompagné de sa ribambelle de légumes</p>
                        </div>
                        <div class="price">
                            <h2>40€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Parmentier de queue de boeuf</h2>
                            <p class="no_wrap">À la truffe noire sur sa purée de panais</p>
                        </div>
                        <div class="price">
                            <h2>35€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Filet de turbot</h2>
                            <p class="no_wrap">Aux agrumes</p>
                        </div>
                        <div class="price">
                            <h2>44€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Menu du restaurant : Desserts -->
        <div class="font__text">
            <h3>Desserts</h3>
            <div class="separator"></div>
            <ul class="fade_in">
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Paris-Brest</h2>
                            <p class="no_wrap">Revisité</p>
                        </div>
                        <div class="price">
                            <h2>18€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Macaron au chocolat d'exception</h2>
                            <p class="no_wrap">Et glace à la vanille de Madagascar</p>
                        </div>
                        <div class="price">
                            <h2>22€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
                <li class="flex__row tiles__dish space__between overflow__hidden">
                    <div class="flex__row space__between width__100">
                        <div class="meal overflow__hidden">
                            <h2 class="no_wrap">Mousse au chocolat</h2>
                            <p class="no_wrap">Au piment d'Espelette et à la truffe noire</p>
                        </div>
                        <div class="price">
                            <h2>23€</h2>
                        </div>
                    </div>
                    <div class="check">
                        <i class="check__ico fas fa-check-circle fa-lg"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flex container__center">
            <button class="button__order font_weight__900">
                Commander
            </button>
        </div>
	</section>
	<!-- Menu de pied de page -->
	<footer id="footer">
        <div class="flex container txt__left font__text">
            <ul>
                <li>
                    <h2>ohmyfood</h2>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Proposer un restaurant"
                    target="_self">
                    <span><i class="fas fa-utensils ico"></i>Proposer un restaurant</span>
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Devenir partenaire"
                    target="_self">
                    <span><i class="fas fa-hands-helping ico"></i>Devenir partenaire</span>
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Mentions légales"
                    target="_self">
                    Mentions légales
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Contact"
                    target="_self">
                    Contact
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>